{# vim: ts=2:sw=2:sts=2:et:ft=jinja2

YUM or DNF repository configuration file

#}
{{ header_var }}
[{{ repo_var['repo'] }}]
{% if repo_var['method'] == 'baseurl' %}
baseurl={{ repo_var['url'] }}{{ repo_var['url_path'] }}
{% elif repo_var['method'] == 'mirrorlist' %}
mirrorlist={{ [ repo_var['url'],
                '/',
                ( pkg_mgr_name_var == 'dnf' )
                | ternary('mirrorlist', '' ),
                '?',
                repo_var['url_vars'] ]
              | join }}
{% else %}
metalink={{ repo_var['url'] }}/metalink?{{ repo_var['url_vars'] }}
{% endif %}
{% for key in repo_var.keys()
              | list
              | difference( [ 'repo',
                              'method',
                              'url',
                              'url_vars',
                              'url_path',
                              'file' ] )
              | sort %}
{{ key }}={{ repo_var[key] }}
{% endfor %}
