{# vim: ts=2:sw=2:sts=2:et:ft=jinja2

FreeBSD Update configuration file

#}
{{ header_var }}
{% for key in pkg_mgr_cfg_var.keys()
              | list
              | difference( ['IDSIgnorePaths'] )
              | sort %}
{% if pkg_mgr_cfg_var[key] | type_debug == 'list' %}
{{ key }} {{ pkg_mgr_cfg_var[key] | join(' ') }}
{% else %}
{{ key }} {{ pkg_mgr_cfg_var[key] }}
{% endif %}
{% endfor %}
{% for ids in pkg_mgr_cfg_var['IDSIgnorePaths'] | default([]) %}
IDSIgnorePaths {{ ids }}
{% endfor %}
