{# vim: ts=2:sw=2:sts=2:et:ft=jinja2

Pacman configuration file

#}
{{ header_var }}
[options]
{% for key in pkg_mgr_cfg_var.keys() | list | sort %}
{% if pkg_mgr_cfg_var[key] | type_debug == 'NoneType' %}
{{ key }}
{% elif pkg_mgr_cfg_var[key] | type_debug == 'list' %}
{{ key }} = {{ pkg_mgr_cfg_var[key] | join(' ') }}
{% else %}
{{ key }} = {{ pkg_mgr_cfg_var[key] }}
{% endif %}
{% endfor %}
{% for repo in repo_list | selectattr('enabled', '==', true) %}

[{{ repo['repo'] }}]
{% if repo['enabled'] == true %}
Include = {{ pkg_mgr_var['repos_cfg_dir'] }}/{{ repo['repo'] }}
{% endif %}
{% endfor %}
